CompileFlags:
  Add: [
    "-target", "arm64-apple-ios14.0",
    "-fblocks",
    "-fobjc-arc",

    "-isystem", "/home/congcq/theos/include",
    "-isystem", "/home/congcq/theos/vendor/include",
    "-isystem", "/home/congcq/theos/sdks/iPhoneOS14.5.sdk/usr/include",
    "-F/home/congcq/theos/sdks/iPhoneOS14.5.sdk/System/Library/Frameworks",

    "-I", "/home/congcq/Desktop/LTW/ltw/src/main/tinywrapper/EGL",
    "-I", "/home/congcq/Desktop/LTW/ltw/src/main/tinywrapper/GL",
    "-I", "/home/congcq/Desktop/LTW/ltw/src/main/tinywrapper/GLES",
    "-I", "/home/congcq/Desktop/LTW/ltw/src/main/tinywrapper/GLES2",
    "-I", "/home/congcq/Desktop/LTW/ltw/src/main/tinywrapper/GLES3",
    "-I", "/home/congcq/Desktop/LTW/ltw/src/main/tinywrapper/glsl_optimizer",
    "-I", "/home/congcq/Desktop/LTW/ltw/src/main/tinywrapper/glsl_optimizer/include",
  ]
